.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 10%;
  max-height: 60vh;
  width: 100%;
  background-color: var(--bg-color);
  flex-wrap: wrap;
}

.home-left {
  flex: 1;
  min-width: 300px;
  max-width: 900px;
  margin-top: 90px;
  margin-left: 30px;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45vh;
  margin-left: 0px;
  margin-top: 70px;
}

.home-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.home-paragraph {
  font-size: 1.34rem;
  color: #555;
  margin-top: 15px;
}

.home-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.home-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  font-size: 1rem;

}

.home-button {
  padding: 12px 20px;
  background-color: #7b2cbf;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.home-social {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

.home-social span {
  cursor: pointer;
  font-weight: bold;
}

.home-social .facebook {
  color: #1877F2;
}

.home-social .google {
  color: #DB4437;
}

.home-image {
  max-width: 94%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

/*  RESPONSIVE BREAKPOINTS */
@media (max-width: 750px) {
  .home-container {
    /* flex-direction: column; */
    padding: 25px;
    /* max-height: unset; */
    
  }

  .home-left {
    margin-left: 0;
    margin-top: 50px;
    text-align: center;
    z-index: 3;
  }

  .home-heading {
    font-size: 2.2rem;
  }

  .home-paragraph {
    font-size: 1.1rem;
  }

  .home-right {
    margin-left: 0;
    margin-top: 50px;
    max-width: 80%;
    display: none;
  }
}

@media (max-width: 576px) {
  .home-heading {
    font-size: 1.8rem;
  }

  .home-paragraph {
    font-size: 1rem;
  }

  .home-input, .home-button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .home-right {
    max-width:  100%;
    margin-top: -90px;
    z-index: 2;
    
  }
}



@media (max-width: 982px) {
  .home-heading {
    font-size: 1.8rem;
  }

  .home-paragraph {
    font-size: 1rem;
  }

  .home-input, .home-button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .home-right {
    max-width: 50%;
    margin-top: -90px;
    z-index: 2;
  }
}


@media (max-width: 1089px) {
  .home-container{
   
    max-height: 50%;
  }
  .home-heading {
    font-size: 1.8rem;
  }

  .home-paragraph {
    font-size: 1rem;
  }

  .home-input, .home-button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .home-right {
    max-width: 50%;
    margin-top: 60px;
    z-index: 2;
  }
}